@use "./variables" as *;

/* Sale section */

.sale h2 {
    text-align: center;
}

.sale ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.sale img {
    width: 100%;
    height: auto;
    display: block;
}

.saleItem {
    position: relative;
    width: 17%;
    margin: 15px;
    border: 0.5px solid $lightGrey;
}

.sale p {
    position: absolute;
    padding: 3px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    margin-right: 130px;
    border: 5px solid $pink;
    color: $white;
    background-color: $pink;
}

#new {
    position: absolute;
    padding: 3px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    margin-right: 130px;
    border: 5px solid $blue;
    color: $white;
    background-color: $blue;
}

.sale span {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
}

.sale button {
    background: url(../assets/icons/shopping-cart-black-icon.png);
    height: 35px;
    width: 35px;
    background-size: cover;
    border: 0.5px solid #f7f7f7;
}

.itemPrice {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    padding: 5px;
}

.sale a {
    margin: auto;
    height: 75px;
    width: 150px;
    padding: 25px 40px;
    border: 3px solid $lightGrey;
    text-transform: capitalize;
    text-decoration: none;
    display: block;
    color: $darkeyGrey;
}